#changepassword h2 {    
    text-transform: uppercase;
    color: $ss-red; 
}

.modal--account .editor-round-button span:before {
    content: "\f00c";
    margin-right: 3px;
}

.change-password-modal .form-group {
    margin-bottom: 15px;
}

.modal--account {
    color: $button-color;
    font-weight: 400;
}

.modal--account .form-group input, .modal--account .form-group select {
    background-color: $input-background-color;
    border-color: $input-border;
}

.change-password-modal-header p {
    margin-bottom: 15px;
    font-weight: 700;
}

.change-password-modal .warning-message {
    width: 100%;
}

.sleek-password-change {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    .change-modal  {
        background-color: #fff;
        width: 400px;
        position: relative;

        .change-password-modal {
            padding: 0 20px;
        }

        .ion-android-alert {
            color: #b44d4d;
            @media screen and (min-width: 940px) {
                top: 0;
                right: 0;
                left: unset;
                color: #b44d4d;
                position: absolute;
            }
            @media screen and (max-width: 940px) {
                &::before {
                    position: absolute;
                    right: 0;
                }
            }
            .arrow-left {
                display: none;
                @media screen and (min-width: 940px) {
                    display: block;
                    position: fixed;
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid #b44d4d;
                    margin-top: -25px;
                    margin-left: 25px;
                }
            }
            p {
                position: absolute;
                margin-top: 2rem;
                font-size: 14px;
                line-height: 1;
                @media screen and (min-width: 940px) {
                    position: fixed;
                    margin-top: -45px;
                    margin-left: 35px;
                    color: #fff;
                    background-color: #b44d4d;
                    font-size: 14px;
                    padding: 20px;
                    border-radius: 5px;
                }
            }
        }

        .ion-android-close {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 26px;
            padding: 15px;
            cursor: pointer;
        }

        h2 {
            font-size: 20px;
            font-weight: 500;
            color: #1b1b1b;
            padding: 30px 20px;
            text-transform: unset;
        }

        input {
            border: unset;
            border-bottom: 1px solid #d8d8d8;
            background-color: transparent !important;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 30px
        }

        .button-wrap {
            display: flex;
            padding: 15px;
            justify-content: flex-end;
            text-transform: uppercase;
            border-top: 1px solid #d8d8d8;
            .accept {
                background-color: #2962ff !important;
              
                border-radius: 2px;
                color: #fff;
                padding: 10px 30px;
                cursor: pointer;
            }

            .cancel {
                padding: 10px 30px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}
