.changepassword h2 {    
    text-transform: uppercase;
    color: $ss-red; 
}

.modal--account .editor-round-button span::before {
    content: "\f00c";
    margin-right: 3px;
}

.change-password-modal .form-group {
    margin-bottom: 15px;
}

.modal--account {
    color: $button-color;
    font-weight: 400;
}

.modal--account .form-group input, .modal--account .form-group select {
    background-color: $input-background-color;
    border-color: $input-border;
}

.change-password-modal-header p {
    margin-bottom: 15px;
    font-weight: 700;
}

.change-password-modal .warning-message {
    width: 100%;
}

.sleek-password-change {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-height: 576px) {
        overflow: auto;
        max-height: 475px;
        height: 100%;
    }

    .change-modal {
        background-color: #fff;
        width: 400px;
        position: relative;

        .change-password-modal {
            padding: 0 20px;
        }


        .ion-android-close {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 26px;
            padding: 15px;
            cursor: pointer;
        }

        h2 {
            font-size: 20px;
            font-weight: 500;
            color: #1b1b1b;
            padding: 30px 20px;
            text-transform: unset;
        }

        input {
            border: unset;
            border-bottom: 1px solid #d8d8d8;
            background-color: transparent !important;
            font-size: 18px;
            line-height: 26px;
        }

        .button-wrap {
            display: flex;
            padding: 15px;
            justify-content: flex-end;
            text-transform: uppercase;
            border-top: 1px solid #d8d8d8;
            
            .accept {
                background-color: #2962ff !important;
              
                border-radius: 2px;
                color: #fff;
                padding: 10px 30px;
                cursor: pointer;
            }

            .cancel {
                padding: 10px 30px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    .md-error {
        color: #f44336;
        font-size: 75%;
        line-height: 1.125;
        padding-top: 5px;
        width: 100%;
    }

    .input-container {
        margin-bottom: 48px;
    }

}
