<div class="sleek-password-change">
    <div class="change-modal">
        <div>
            <h2>
                {{ 'HOME.CHANGE_PASSWORD_MODAL.TITLE' | translate }}
            </h2>
            <div class="ion-android-close" ng-click="vm.close()"></div>
        </div>
        <div class="grid-block change-password-modal">
            <div class="grid-content">
                <div class="grid-block vertical">
                    <md-input-container class="input-container" flex-gt-sm>
                        <label class="input-button">{{ 'BASE.V3.CHANGE_PASSWORD_CURRENT' | translate }}</label>
                        <input type="password" class="input-button" ng-model='vm.oldPassword'>
                        <md-error class="md-error" ng-if="vm.errorPosition == 1">
                            {{ vm.error }}
                        </md-error>
                    </md-input-container> 
                </div>
                <div class="grid-block vertical">
                    <div class="grid-block">
                        <md-input-container class="input-container" flex-gt-sm>
                            <label class="input-button">{{ 'BASE.V3.CHANGE_PASSWORD_NEW' | translate }}</label>
                            <input type="password" class="input-button" ng-model='vm.newPassword'>
                            <md-error class="md-error" ng-if="vm.errorPosition == 2">
                                {{ vm.error }}
                            </md-error>
                        </md-input-container> 
                    </div>
                </div>

                <div class="grid-block vertical">
                    <div class="grid-block">
                        <md-input-container class="input-container" flex-gt-sm>
                            <label class="input-button">{{ 'BASE.V3.CHANGE_PASSWORD_NEW_CONFIRM' | translate }}</label>
                            <input type="password" class="input-button" ng-model='vm.confirmNewPassword'>
                            <md-error class="md-error" ng-if="vm.errorPosition==3">
                                {{ vm.error }}
                            </md-error>
                        </md-input-container> 
                    </div>
                </div>
            </div>    
        </div>
        <div class="button-wrap">
            <div class="accept" ng-click="vm.continue()">{{ 'HOME.SAVE' | translate }}</div>
            <div class="cancel" ng-click="vm.close()">{{ 'HOME.CANCEL' | translate }}</div>
        </div>
    </div>
</div>
